*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
spec/reports
tmp

## OS STUFF
.DS_Store

## TM SPECIFIC
*.tmproj
tmtags

## PROJECT::GENERAL
*.sw?
coverage
rdoc
pkg
doc

## PROJECT::SPECIFIC
spec/fixtures/public/*
